.root {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.game {
    flex: 1;
}

.game table {
    width: 20rem;
}

.cell {
    background: #eee;
    text-align: center;
    width: 1rem;
    height: 2rem;
}
